@{
    ViewBag.Title = "Shipper";
}

<section class="innerBanner">
    <img src="~/img/shipper-banner.jpg" alt="">
    <h2 class="float-header">
        Every Shipping <br />
        needs ultimate care.
    </h2>
    <div class="float-arrow">
        <img src="~/img/blankArrow.png" />
    </div>
</section>
<section class="innerContent lesspaddingBottom">
    <div class="container">
        <div class="row rowSPCLInnerpages">
            <div class="row">

                <div class="col-md-7">
                    <h3>Shipper Details</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="col-md-5 opacityLow">
                    <img src="~/img/shipper.png" />
                </div>
            </div>

        </div>
    </div>


    <section class="shipperBg lessSpace">
        <div class="container">
            <div class="row rowSPCLInnerpages">
                <div class="col-md-12">
                    <div class="bgContent">
                        <h2>We Specialize in</h2>
                        <h4>Superior service, innovation & technology since 1998.</h4>
                        <p>
                            John Doe co-founded Freight Solutions - the parent company of Frieght Pricing Solutions – with his father James Brosious in September of 1998 to facilitate freight shipping services for both infrequent and frequent shippers. Innovation is the foundation of Frieght Pricing Solutions. The key to our success is offering instant online quotes and facilitating freight shipping for those not familiar with the process. From its inception, Frieght Pricing Solutions began to develop strong relationships with local, national and international transportation carriers.

                            Our website Frieght Pricing Solutions.com has grown at an accelerated pace. In a short time, we have become one of the largest Internet-based freight logistics companies, offering instant pricing online from more than 100 freight carriers.
                            <br /><br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="sectionBg GreysectionBg bgContent bgContentdouble lessSpace">
        <div class="container">
            <div class="row rowSPCLInnerpages bgContent">
                <h2 class="logoH2SPCL">Our Shipping Partners</h2>
                <div class="col-md-3 opacityVeryLow">
                    <img src="~/img/s1.png" />
                </div>
                <div class="col-md-3 opacityVeryLow">
                    <img src="~/img/s2.png" />
                </div>
                <div class="col-md-3 opacityVeryLow">
                    <img src="~/img/s3.png" />
                </div>
                <div class="col-md-3 opacityVeryLow">
                    <img src="~/img/s4.png" />
                </div>
            </div>

            <div class="row rowSPCLInnerpages">

                <div class="col-md-3 opacityVeryLow">
                    <img src="~/img/s4.png" />
                </div>
                <div class="col-md-3 opacityVeryLow">
                    <img src="~/img/s1.png" />
                </div>

                <div class="col-md-3 opacityVeryLow">
                    <img src="~/img/s2.png" />
                </div>
                <div class="col-md-3 opacityVeryLow">
                    <img src="~/img/s3.png" />
                </div>

            </div>
        </div>

    </section>

  
</section>
            
