@{
    ViewBag.Title = "Policy | Terms & Conditions";
}

<div class="grid_12">
    <div id="standardHeader">
        <h1>
            Privacy Policy | Terms &amp; Conditions
        </h1>
    </div>
</div>

<div id="commonContent" class="grid_8">
    <h2 class="first">
        Privacy Policy
    </h2>
    <p>
        By using FreightCenter's web site(s) and quote system, you are giving us permission
        to contact you regarding our freight services. Customer agrees that by establishing
        an account with FreightCenter.com, they have accordingly elected to opt-in to mailing
        and marketing communications from FreightCenter only. This communication includes
        service information, updates, savings offers, online advertising and quarterly newsletters.
    </p>
    <p>
        FreightCenter collects certain types of information when you interact with our websites,
        emails and online ads. We use this secure data to improve the way our website works,
        to evaluate usability, to capture website analytics and to support marketing campaigns.
        Our website uses Google Adwords and other online advertising platforms to advertise
        to new and previous visitors on third-party websites (including Google). Based on
        visitor activity, an advertisement can be visible in search results or on a site
        in the Google Display Network (including other networks). Third-party vendors, including
        Google, use cookies to serve ads based on past visits to FreightCenter.com. We do
        not use, share or associate personally identifiable information with remarketing
        lists, cookies or other anonymous information. To opt out of interest-based ads,
        visitors can change their preferences by visiting <a href="https://www.google.com/settings/u/0/ads">Google's Ads Settings</a>.
    </p>
    <p>
        When booking a shipment with FreightCenter, your personal contact information is
        used for confirmation, updates, and other pertinent information related to that
        particular booking. Our site does not sell, rent, or share your personal information
        with any third-party firm.
    </p>
    <p>
        Customers can elect to receive only certain communications by notifying us to make
        changes to their email preferences. If for any reason you wish to modify your subscription,
        remove your name from our contact/mailing list, or have any questions, please contact
        us at <a href="mailto:privacy@freightcenter.com">privacy@freightcenter.com</a>.
    </p>
    <h2>
        Terms &amp; Conditions
    </h2>
    <p>
        Use of this site and services constitutes acceptance of our terms and conditions.
        Terms and conditions may be downloaded and printed by clicking below:
        <br>
        <a href="../forms/terms%20and%20conditions/terms%20and%20conditions.pdf">Terms and Conditions</a>.
    </p>
</div>
